.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1.25rem 0;
  gap: 1rem;
}

.header img {
  height: 1.25rem;
}
